<head>
    <title>Library System</title>
    <link rel="stylesheet" type="text/css" href="../public/lib/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../public/lib/foundation-icon-fonts/foundation-icons.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.scss">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1 class="welcome"><a href="#">Library System</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#" class="fi-torso">Username</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#"  class="fi-arrow-right"> &nbsp;Logout</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li class="active"><a href="#" class="fi-book-bookmark"> &nbsp;</a></li>
    </ul>
  </section>
</nav>
    <div class=" row">
<div id="mainwrapper">
 <link rel="stylesheet" type="text/css" href="../assets/stylesheets/tiles.css">
  <div id="tools"></div>
        <!-- Image Caption 1 -->
        <a href="" target="_blank" >
      <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-1"></div>
                <span class="caption simple-caption cap1">
                    <div class="title">Math</div>
                <p></p>
                </span>
      </div>
      </a>

  <a href="" target="_blank" >
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-2"></div>
                <span class="caption simple-caption cap2">
                    <div class="title">Literature</div>
                <p></p>
                </span>
        </div>
  </a>

  <a href="" target="_blank"  >
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-3"></div>
                <span class="caption simple-caption cap3">
                    <div class="title">Computer</div>

                <p>Math is Ambot Lisod samot accounting</p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-4"></div>
                <span class="caption simple-caption cap4">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-5"></div>
                <span class="caption simple-caption cap5">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-6"></div>
                <span class="caption simple-caption cap6">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
        <a href="" target="_blank" >
      <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-7"></div>
                <span class="caption simple-caption cap7">
                    <div class="title">Article</div>
                <p></p>
                </span>
      </div>
      </a>

  <a href="" target="_blank" >
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-8"></div>
                <span class="caption simple-caption cap8">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>

  <a href="" target="_blank"  >
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-9"></div>
                <span class="caption simple-caption cap9">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-10"></div>
                <span class="caption simple-caption cap10">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-11"></div>
                <span class="caption simple-caption cap11">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-12"></div>
                <span class="caption simple-caption cap12">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
   <a href="" target="_blank"  >
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-13"></div>
                <span class="caption simple-caption cap13">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-14"></div>
                <span class="caption simple-caption cap14">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-15"></div>
                <span class="caption simple-caption cap15">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-16"></div>
                <span class="caption simple-caption cap16">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
        <a href="" target="_blank" >
      <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-17"></div>
                <span class="caption simple-caption cap17">
                    <div class="title">Article</div>
                <p></p>
                </span>
      </div>
      </a>

  <a href="" target="_blank" >
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-18"></div>
                <span class="caption simple-caption cap18">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
    </div>
    </div>
  <!-- SCRIPTS -->
    <script src="../public/lib/jquery/dist/jquery.min.js"></script>
    <script src="../public/lib/foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
