<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../public/lib/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../public/lib/foundation-icon-fonts/foundation-icons.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.scss">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/tiles.css">
    <link rel="shortcut icon" href="../assets/images/book.ico">
</head>
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar  welcome">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon  " href="#"><span></span></a>
      </section>
      <section class="middle tab-bar-section">
         <div class="large-6 columns">
          <div class="row collapse postfix-round">
             <div class="small-9 columns">
               <input type="text" placeholder="Author or Title">
             </div>
            <div class="small-3 columns">
              <a href="#" class="button postfix">Go</a>
            </div>
        </div>
    </div>
      </section>
  <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
      </section>
    <section class="top-bar-section navC">

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#" class="fi-torso">&nbsp;Username</a>
        <ul class="dropdown">
          <li><a href="#" class="fi-widget">&nbsp;Settings</a></li>
          <li class="active"><a href="#"  class="fi-arrow-right"> &nbsp;Logout</a></li>
          </li>
       </ul>
      </li>
    </ul>
    <ul class="right">
      <li href="#" class="fi-megaphone">&nbsp;</li>
    </ul>
  </section>
    </nav>

    <aside class="left-off-canvas-menu leftC">
      <ul class="off-canvas-list">
        <li><label>Library System</label></li>
        <li><a href="#" class="fi-book"> &nbsp;Barrowed Books</a></li>
        <li><a href="#" class="off-canvas-submenu-call">Activity Logs <span class="right"> + </span></a></li>
                <ul class="off-canvas-submenu">
                <li><a href="#">Returned Books</a></li>
                <li><a href="#">Barrowed</a></li>
                <li><a href="#">Search</a></li>
              </ul>
        <li><a href="#">Option 3</a></li>
        <li><a href="#" class="off-canvas-submenu-call">Option 4 <span class="right"> + </span></a></li>
                <ul class="off-canvas-submenu">
                <li><a href="#">Sub menu 1</a></li>
                <li><a href="#">Sub menu 2</a></li>
                <li><a href="#">Sub menu 3</a></li>
              </ul>
        <li><a href="#">Option 5</a></li>
        <li><a href="#">Option 6</a></li>

      </ul>
    </aside>

    <section class="main-section">
 <div class=" row">
<div id="mainwrapper">

  <div id="tools"></div>
        <!-- Image Caption 1 -->
        <a href="table.html" target="_blank" >
      <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-1"></div>
                <span class="caption simple-caption cap1">
                    <div class="title">Math</div>
                <p></p>
                </span>
      </div>
      </a>

  <a href="table.html" target="_blank" >
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-2"></div>
                <span class="caption simple-caption cap2">
                    <div class="title">Literature</div>
                <p></p>
                </span>
        </div>
  </a>

  <a href="table.html" target="_blank"  >
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-3"></div>
                <span class="caption simple-caption cap3">
                    <div class="title">Computer</div>

                <p>Math is Ambot Lisod samot accounting</p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-4"></div>
                <span class="caption simple-caption cap4">
                    <div class="title">Accounting</div>
                <p></p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-5"></div>
                <span class="caption simple-caption cap5">
                    <div class="title">Cook</div>
                <p></p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-6"></div>
                <span class="caption simple-caption cap6">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
        <a href="" target="_blank" >
      <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-7"></div>
                <span class="caption simple-caption cap7">
                    <div class="title">Article</div>
                <p></p>
                </span>
      </div>
      </a>

  <a href="" target="_blank" >
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-8"></div>
                <span class="caption simple-caption cap8">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>

  <a href="" target="_blank"  >
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-9"></div>
                <span class="caption simple-caption cap9">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-10"></div>
                <span class="caption simple-caption cap10">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-11"></div>
                <span class="caption simple-caption cap11">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-12"></div>
                <span class="caption simple-caption cap12">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
   <a href="" target="_blank"  >
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-13"></div>
                <span class="caption simple-caption cap13">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-14"></div>
                <span class="caption simple-caption cap14">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-15"></div>
                <span class="caption simple-caption cap15">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
  <a href="">
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-16"></div>
                <span class="caption simple-caption cap16">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
        <a href="" target="_blank" >
      <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-17"></div>
                <span class="caption simple-caption cap17">
                    <div class="title">Article</div>
                <p></p>
                </span>
      </div>
      </a>

  <a href="" target="_blank" >
        <div id="box-1" class="box">
            <div id="bg-block" class="bg-block-18"></div>
                <span class="caption simple-caption cap18">
                    <div class="title">Article</div>
                <p></p>
                </span>
        </div>
  </a>
    </div>
    </div>

    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>

  <!-- SCRIPTS -->
    <script src="../public/lib/jquery/dist/jquery.min.js"></script>
    <script src="../public/lib/foundation/js/foundation.min.js"></script>
    <script src="../public/lib/foundation/js/foundation.app.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script >
      $(document).foundation();
      $(".off-canvas-submenu").hide();
      $(".off-canvas-submenu-call").click(function() {
         var icon = $(this).parent().next(".off-canvas-submenu").is(':visible') ? '+' : '-';
       $(this).parent().next(".off-canvas-submenu").slideToggle('fast');
       $(this).find("span").text(icon);
      });
    </script>
